form {
  margin-top: 40px;
}

fieldset {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: none;
  outline: none;
  gap: 24px;
}

legend {
  font: var(--heading-sm);
  color: var(--text-heading);
}

fieldset + fieldset {
  margin-top: 48px;
}

.grid-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

.input-wrapper {
  margin-top: 14px;
}

.calendar {
  max-width: 24px;
}

.building,
.camera {
  max-width: 16px;
}

@media (max-width: 800px) {
  .grid-1 {
    display: flex;
    flex-direction: column;
  }
}
