input,
textarea,
select {
  background-color: var(--input-base);
  appearance: none;
  width: 100%;
  margin-top: 12px;
  border-radius: 8px;
  border: 2px solid transparent;
  outline: 1px solid var(--input-stroke);
  padding: 12px 16px;
  font: var(--body-md);
  color: var(--input-placeholder);
}

label {
  font: var(--body-sm);
  color: var(--text-body);
  display: block;
  margin-bottom: 4px;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  display: none;
}

.file-upload {
  margin: 0 auto;

  & input[type="file"] {
    border: none;
    outline: none;
    background-color: transparent;
    width: 384px;
    padding: 0;
  }
}

.file-upload input[type="file"]::-webkit-file-upload-button {
  background-color: var(--shape-button);
  color: var(--text-heading);
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  margin-right: 16px;
  font: var(--body-md);
  cursor: pointer;
  transition: background-color 0.3s;
}

.file-upload input[type="file"]::-webkit-file-upload-button:hover {
  background-color: var(--brand-light);
  color: var(--input-base);
}

.error {
  display: flex;
  align-items: center;
  margin-top: 8px;
  gap: 8px;

  & img {
    max-width: 16px;
    height: 16px;
  }

  & .error-message {
    font: var(--body-sm);
    color: var(--feedback);
  }
}

select {
  background: url(../../assets/icons/arrow-down-01.svg) no-repeat
    calc(100% - 16px);
}

.address .flex {
  gap: 20px;
}

.input-wrapper:has([disabled]) {
  opacity: 0.5;
}

input {
  &[disabled] {
    outline: 1px solid var(--input-stroke);
  }

  &:invalid {
    outline-color: var(--feedback);
  }

  &:not(:focus):valid + .error {
    display: none;
  }
}
