.color {
  margin-top: 24px;
}

.color-options {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  column-gap: 24px;
}

.color-inner {
  position: relative;
  line-height: 0;
  cursor: pointer;

  & img {
    max-width: 40px;
    height: auto;
    border: 6px solid var(--shape-button);
    border-radius: 50%;
    flex-shrink: 0;
  }

  & input,
  & input:focus,
  & input:hover {
    all: unset;
    position: absolute;
    inset: 0;
  }

  &:hover,
  &:focus-within {
    img {
      border-color: var(--shape-hover);
    }
  }

  &:has(:checked) {
    outline: 2px solid var(--brand-light);
    border-radius: 50%;
  }
}
