.theme-options {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  row-gap: 24px;
  column-gap: 43px;
  margin-top: 16px;
}

.theme-card {
  background: var(--shape-button);
  border: 2px solid var(--input-stroke);
  border-radius: 8px;
  padding: 4px 4px 8px 4px;
  cursor: pointer;
  position: relative;

  & img {
    max-width: 126px;
    height: 64px;
    border-radius: 4px;
  }

  & span {
    font: var(--body-md);
    color: var(--text-heading);
    display: flex;
    justify-content: center;
    margin-top: 8px;
  }

  & input,
  & input:focus,
  & input:hover {
    all: unset;
    position: absolute;
    inset: 0;
  }

  &:hover,
  &:focus-within {
    border: 2px solid transparent;
  }

  &:has(:checked) {
    outline: 2px solid var(--brand-light);
  }
}
