.style-toggle {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  padding-top: 12px;
}

.dark-mode {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.dark-mode input {
  display: none;
}

.slider-mode {
  width: 64px;
  height: 32px;
  background-color: var(--input-base);
  border: 2px solid var(--input-stroke);
  border-radius: 50px;
  position: relative;
  transition: 0.3s;
}

.slider-mode::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 2px;
  width: 24px;
  height: 24px;
  background-color: var(--input-stroke);
  border-radius: 50%;
  transform: translateY(-50%);
  transition: 0.3s;
}

.dark-mode input:checked + .slider-mode {
  background-color: var(--brand-light);
}

.dark-mode input:checked + .slider-mode::before {
  transform: translate(32px, -50%);
  background-color: var(--text-heading);
}

.word-mode {
  font: var(--body-md);
  color: var(--text-heading);
  padding-left: 12px;
}

.dark-mode input:checked + .slider-mode + .word-mode {
  visibility: hidden;
}

.dark-mode input:checked + .slider-mode + .word-mode::after {
  content: "Claro";
  visibility: visible;
  padding-left: 23px;
}

.dark-mode input:not(:checked) + .slider-mode + .word-mode::before {
  content: "Escuro";
  padding-left: 12px;
}
