@import url(./colors.css);
@import url(./theme.css);
@import url(./theme-switch.css);

.theme-style {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 28px;
  gap: 45px;
}

@media (max-width: 640px) {
  .theme-style {
    display: flex;
    flex-direction: column;
  }
}
