.ticket {
  display: flex;
  justify-content: flex-end;
  margin-top: 48px;
  margin-bottom: 80px;
}

.btn {
  border: none;
  border-radius: 8px;
  background-color: var(--brand-dark);
  padding: 13px 13px 13px 48px;
  cursor: pointer;
  position: relative;
}

.btn:before {
  content: url("../../assets/icons/ticket-default.svg");
  position: absolute;
  left: 10px;
  top: 52%;
  transform: translateY(-50%) scale(0.8);
  max-width: 24px;
  height: auto;
}

.btn:hover:before {
  content: url("../../assets/icons/ticket-hover.svg");
  transform: translateY(-50%) scale(0.8);
}

.btn a {
  text-decoration: none;
  font: var(--body-md-semibold);
  color: var(--text-heading);
  position: relative;
  z-index: 1;
}

.btn:hover {
  background-color: var(--brand-light);

  & a {
    color: var(--input-base);
  }
}
