.conditions {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
  align-items: flex-start;
}

.terms-wrapper {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.checkbox-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  position: relative;

  & [type="checkbox"] {
    all: unset;
    position: absolute;
    inset: 0;
    cursor: pointer;
    width: 24px;
    height: auto;
  }

  & .checkbox-image {
    flex: 0 0 24px;
    height: 24px;
    background-image: url(../../assets/icons/checkbox-default.svg);
    background-repeat: no-repeat;
  }

  &:has(:checked) .checkbox-image {
    background-image: url(../../assets/icons/checkbox-checked.svg);
  }
}

.checkbox-wrapper label {
  font: var(--body-xs);
  color: var(--text-body);
}

.checkbox-wrapper a {
  color: var(--brand-light);
  text-decoration: none;
}

.checkbox-wrapper a:hover {
  text-decoration: underline;
}
